/* body core */
body {
  font-family: sans-serif;
}

.to-uppercase {
  text-transform: uppercase;
}
/* Styles for the main header */
.main-header__developer {
  display: inline-block;
  vertical-align: middle;
}

.main-header__developer img {
  width: 50px;
  height: 50px;
}

.main-navigation__items {
  display: inline;
  margin-left: 400px;
}

.main-navbar {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.main-navigation__item a {
  text-decoration: none;
  color: #000000;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #00ffc3;
}

.main-navigation__item a:hover {
  color: #ffffff;
  border-color: #008c3d;
  font-weight: bold;
}

.main-navigation__item a:active {
  background-color: #6200ff;
  color: #ffffff;
  font-weight: bold;
}

/* Styles for the main section */
.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.main-section__introduction {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500px;
  margin-bottom: 20px;
  color: #404443;
}

.main-section__position {
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 20px;
  color: #797979;
}

.main-section__action {
  margin-top: 30px;
  border: none;
  background-color: #00ffc3;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  display: inline-block;
}

.statistika_number {
  font-size: 25px;
  font-weight: lighter;
  color: #00ffbf;
  margin-bottom: 5px;
}

.statistika_text {
  font-size: 14px;
  font-weight: 300px;
  color: #797979;
}

.statistika {
  display: inline-block;
}

.statistika__item {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 5px 10px;
}

/* Social media links */
.main-section__social-netoworks a {
  color: #00ffff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.main-section__social-netoworks a:hover {
  color: #0d00ff;
}

.main-section__social-link {
  text-decoration: none;
}
