/* body core */
body {
  font-family: sans-serif;
}

.to-uppercase {
  text-transform: uppercase;
}
/* Styles for the main header */
.main-header__developer {
  display: inline-block;
  vertical-align: middle;
}

.main-header__developer img {
  width: 50px;
  height: 50px;
}

.main-navigation__items {
  display: inline;
  margin-left: 400px;
}

.main-navbar {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.main-navigation__item a {
  text-decoration: none;
  color: #000000;
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #00ffc3;
}

.main-navigation__item a:hover {
  color: #ffffff;
  border-color: #008c3d;
  font-weight: bold;
}

.main-navigation__item a:active {
  background-color: #6200ff;
  color: #ffffff;
  font-weight: bold;
}

/* Styles for the main section */
.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float: left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.main-section__introduction {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500px;
  margin-bottom: 20px;
  color: #404443;
}

.main-section__position {
  font-size: 24px;
  font-weight: 400px;
  margin-bottom: 20px;
  color: #797979;
}

.main-section__action {
  margin-top: 30px;
  border: none;
  background-color: #00ffc3;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.container {
  display: inline-block;
}

.statistika_number {
  font-size: 25px;
  font-weight: lighter;
  color: #00ffbf;
  margin-bottom: 5px;
}

.statistika_text {
  font-size: 14px;
  font-weight: 300px;
  color: #797979;
}

.statistika {
  display: inline-block;
}

.statistika__item {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 5px 10px;
}

/* Social media links */
.main-section__social-netoworks a {
  color: #00ffff;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.main-section__social-netoworks a:hover {
  color: #0d00ff;
}

.main-section__social-link {
  text-decoration: none;
}

/* About me section */
.clearfix {
  clear: both;
}

.about-me {
  margin-right: 0px;
  display: flex;
  gap: 40px;
  padding: 100px 0px;
}

.about-me > div {
  width: 50%;
  float: left;
}

.about-me__imegs img {
  margin-left: 40px;
  width: 520px;
  height: 500px;
}

.about-me__info {
  margin-left: 100px;
}

.section-submitle {
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #797979;
  text-transform: uppercase;
}

.bulur-line {
  display: inline-block;
  margin-left: 5px;
  width: 80px;
  height: 4px;
  background-color: #4fcfbe;
  filter: blur(5px);
}

.section-submitle__My {
  margin-top: 5px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #404443;
  text-transform: capitalize;
}

.abaut-me__qisqacha {
  font-size: 16px;
  font-weight: 300;
  color: #797979;
  line-height: 1.8;
}

.main-section__action-2 {
  margin-top: 40px;
  border: none;
  background-color: #00ffc3;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
}

/* Services section */
.service {
  padding-top: 100px;
}

.services__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.service__card {
  width: 300px;
  height: 500px;
  padding: 40px 25px;
  background-color: #f5f5f5;
  border-radius: 12px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
}

.service__card:hover {
  width: 300px;
  height: 500px;
  padding: 40px 25px;
  background-color: #00ffaa;
  text-align: center;
}

.service__card:active {
  width: 300px;
  height: 500px;
  padding: 40px 25px;
  background-color: #6200ff;
  text-align: center;
}

.service-card__link {
  text-decoration: none;
  color: #000000;
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #484848;
  text-transform: uppercase;
}

.service-card__link:hover {
  color: #ffffff;
  border-color: #186191;
  text-transform: uppercase;
}

.service__card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* Clients section  */
.mening {
  clear: both;
}

.clients {
  padding-top: 100px;
}

.client-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.client-item > div {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.client-item__image {
  width: 400px;
  height: 500px;
  margin-left: 60px;
}

.client_reziume {
  margin-top: 170px;
  margin-left: 40px;
}

.section-submitle {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #404443;
  text-transform: uppercase;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #404443;
  line-height: 44px;
}

.client-item__name {
  font-size: 30px;
  margin-bottom: 20px;
  color: #404443;
}

.client-item__feedback {
  font-size: 18 px;
  font-weight: 300;
  color: #494949;
  line-height: 27px;
}

.client-item__star {
  color: #ffcc00;
  margin-top: 20px;
}

.client-item__star .fas:hover {
  color: #ffaa00;
}

.client-item__star .disablet {
  color: #606060;
}
