/* Margin collapsing */
.box1 {
  margin-bottom: 30px;
}

.box2 {
  margin-top: 20px;
}

/* Qisqartmalar Shorthands */
/* Qisqartirilmagan style kod */
.paragraph-1 {
  border-width: 5px;
  border-style: solid;
  border-color: red;
}

/* Qisqartirilgan style kod */
.paragraph-2 {
  border: 1px solid blue;
}

.paragraph-3 {
  padding-left: 10px;
  border-top: 2px solid yellow;
  border-right: 2px solid red;
  border-left: 2px solid red;
  border-bottom: 2px solid yellow;
  border-radius: 30px;
}

/* Margin uchun qisqartma style kod */
/* Qisqartirilmagan kod */
.margin-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Qisqartirilgan kod */
/* Margin top, bottom 100px | left,right 120px */

/* .margin-2 {
  margin: 100px 120px;
} */

/* Margin top 130px | left, right 150px | bottom 130px */

/* .margin-2 {
  margin: 50px 150px 130px;
} */

/* Margin top 100px | right 50px | bottom 80px | left 70px */

.margin-2 {
  margin: 100px 50px 80px 70px;
}
